<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h3>사연 업로드</h3>
    <form class="form" ng-submit="contentSave();">
      <div class="form-group row">
        <div class="col-xs-9">
        <input type="text" ng-model="write.title" name="title" placeholder="제목" class="form-control" required="true">
        </div>
        <!--
        <div class="checkbox col-xs-offset-1 col-xs-2">
          <label>
            <input type="checkbox" ng-model="write.is_anonymous" name="is_anonymous" value="1"> 익명
          </label>
        </div>
        -->
      </div>
      
      <div class="form-group">
        <textarea rows="8" ng-model="write.content" name="content" placeholder="내용" class="form-control" required="true"></textarea>
      </div>
      <button type="submit" class="btn btn-success pull-right">작성 완료</button>
    </form>
  </div>
</div>